@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
  font-family: 'Varela Round', 'Sarabun', sans-serif;
  --background: rgba(228, 252, 227, 0.425);
}
body {
  background: var(--background);
  margin: 0;
}
h1, h2, h3 {
  text-transform: capitalize;
  color: rgb(59, 59, 59);
  padding-left: 10px;
}
h3 {
  text-transform: uppercase;
}
hr {
  border-color: rgb(238, 237, 237);
}

::placeholder {
  opacity: 0;
  transition: inherit;
  font-size: 16px !important;
}
::-moz-placeholder {
  opacity: 0;
  transition: inherit;
  font-size: 16px !important;
}
:-ms-input-placeholder {
  opacity: 0;
  transition: inherit;
  font-size: 16px !important;
}
:-moz-placeholder{
  opacity: 0;
  transition: inherit;
  font-size: 16px !important;
}
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
  font-size: 16px !important;
}
section, footer {
  display: block;
}
input {
  box-sizing:border-box;
}
img:not(.logo) {
  filter: contrast(1.3) brightness(1);
  box-shadow: 0 0 12px #666;
}

a.button:hover {
  box-shadow: 0 0 15px #8a8989;
}
.active, a, header a:hover {
  color: #171123;
  text-decoration: none;
}
@media all and (max-width: 600px) {
  a {
    display: block;
  }
}

header a:hover {
  filter:grayscale(100%);
  color: rgba(67, 201, 96, 0.575);
}
header {
  position: fixed;
  top: 0;
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 33px rgb(224, 224, 224);
  height: 30px;
  padding: 20px 50px;
  width: calc(100vw - (20px + 55px));
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
header img {
  height: 35px;
}
header nav ul{
  margin-top: -10px;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  margin-right: 10px;
}
header nav ul li {
  padding: 10px;
}
header .show-nav {
  display: none;
  transition: ease-in 5s;
}
@media all and (max-width: 680px) {

  header{
    width: 100vw;
    display: block;
    padding: 20px 0;
  }
  .mobile-clear {
    clear: both;
  }
  header .show-nav {
    display: block;
    float: right;
    color: #000000;
    font-size: 30px;
    padding: 15px;
    margin-top: -60px;
    margin-left: -20px;
  }

  header nav ul{
    margin-top: 2px;
    border-top: 1px solid #cdc;
    display: none;
    background: #fff;
    width: 100%;
    list-style: none;
    text-transform: uppercase;
  }
  header nav ul li {
    padding: 10px;
    border-bottom: 1px solid #b8b7b7;
    max-width: 80%;
    text-align: center;
  }
}

header a{
  color: #222222;
  margin: -3px 10px;
}
header nav ul li a{
  margin: 0;
}
/** slider **/
.slider {
  background: #fff;
  height: calc(100vh - 60px + 30px );
  border-bottom: 20px solid #222222;
}
.slider img {
  width: 100%;
  height: 100%;
}
.slider img:hover {
  transform: rotateX(10deg) rotateY(-10deg);
}
.slider .placeholder h2, .slider .placeholder h4 {
  width: 100vw;
  text-shadow: 0 0 12px rgb(59, 59, 59);
}
.slider .placeholder h2{
  color: #FFFFFF;
}
.slider-overlay {
  width: 100vw;
  height: calc(100vh - 60px + 34px );
  position: absolute;
  background: linear-gradient(135deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
  position: absolute;
  top: 60px;
  transition: .5s all;
  opacity: 0.4;
}
.slider:hover .slider-overlay {
  background: linear-gradient(135deg,  #7800a8 100%, #ff3083 75%, #1e539e 50%, #000000 0%, #000000 25%);
  opacity: 0.1;
}

/** footer area **/
footer {
  display: block;
  padding: 10px 0px;
  position: relative;
  box-shadow: -3px -2px 2px rgb(212, 212, 212);
  text-align: center;
  width: 100%;
}
footer a {
  margin:0 10px;
}

/** main section **/
main {
  margin: 64px auto;
  display: block;
}

.summery-card {
  padding: 0 10px;
}

.summery-card-heading {
  text-align: center;
  color: rgb(83, 80, 80);
  text-transform: capitalize;
  font-size: 20px;
}
@media all and (min-width: 800px) {
  .summery-card-heading {
    text-align: left;
    border-bottom: 1px inset #ccc;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
.flex {
  display:flex;
  flex-wrap:wrap;
  margin: 0 auto;
}
.wrapper, .form-fields {
  width: 98%;
  margin: 0 auto;
}

.form-fields {
  max-width: 350px !important;
  box-shadow: 0px 0px 8px rgb(231, 229, 229);
  padding: 10px;
  background: #fff;
  width: 100%;
  border-radius: 3px;
}
.box {
  background: #fff;
  padding: 15px 10px;
  box-shadow: 0 0 3px #ccc;
  border-radius: 10px;
  width: 98%;
  margin: 0 auto;
}
.side-bar {
  margin: 5px;
  width: 100%;
}
@media all and (max-width: 600px) {
  .box, .form-fields {
    max-width: 300px !important;
  }
}

.main{
  min-width: 100%;
  margin: 5px;
}
@media all and (min-width: 600px) {
  .side-bar {
    width: 30%;
    max-width: 300px;
    flex-grow: 1;
  }
  .main{
    min-width: 68%;
    margin: 5px;
  }
  .box {
    display: block;
  }
}
@media all and (min-width: 800px) {
  .main{
    max-width: 60%;
  }
}

/** office area **/
.offices, .parties, .candidate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}
.offices_office, .parties-party {
  margin: 3px;
  background: #eee;
  color: #222;
  width: 200px;
  height: 268px;
  overflow: hidden;
  border-radius: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.offices_office img{
  width: 100%;
  height: 164px;
}
.offices_office h3{
  text-align: center !important;
  padding: 0px 5px;
  height: 35px;
  font-size: 14px;
}
.offices_office_options {
  padding: 10px;
  background: #222222;
  color: #ccc;
  display: flex;
  justify-content: space-between;
}
.candidate .offices_office{
  height: auto;
  overflow: none;
}
.candidate h3 {
  font-size: 16px;
  height: auto;
}
.parties-party {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.parties-party img  {
  width: 100%;
  height: 100px;
}

.admin .parties-party {
  height: 150px;
  width: 150px;
  margin: 10px;
}
.admin .parties-party img  {
  width: 150px;
  height: 150px;
}
.toast {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  display: flex;
  border-radius: 3px;
  width: 280px;
  height: 30px;
  padding: 10px;
  margin: 2px auto;
  top: 86vh;
  right: 30%;
  color: #ddd;
  background: #222222;
  box-shadow: 0px 0px 12px #bbb;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}

.toast .toast-close {
  padding: 4px;
  color: rgb(243, 16, 110);
  cursor: pointer;
}

.placeholder {
  max-width: 98%;
  margin: 0 auto;
  padding: 10px;
}
.call-to-action {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.call-to-action h2 {
  font-size: 2rem;
}
.call-to-action h4 {
  font-size: 1.2rem;
  margin-top: -30px;
  color: rgb(48, 163, 73);
}
.call-to-action a {
  padding: 20px;
  width: 200px;
  margin: -20px auto;
  margin-bottom: 10px;
  background: seagreen;
  color: #fff;
  display: block;
  border-radius: 38px;
}

@media all and (min-width: 610px) {
  .call-to-action h2 {
    font-size: 2.1rem;
  }
}
@media all and (min-width: 680px) {
  .call-to-action h2 {
    font-size: 2.5rem;
  }
}
@media all and (min-width: 860px) {
  .call-to-action h2 {
    font-size: 3rem;
  }
  .call-to-action h4 {
    font-size: 1.6rem;
    margin-top: -30px;
    color: rgb(48, 163, 73);
  }
}

/** forms **/
.form-fields {
  box-shadow: 0 0 332px rgb(161, 160, 160);
  z-index: -100;
}

.form-fields .fieldset {
  border: 0;
}
.form-fields legend {
  font-size: 1.5rem;
  text-align: center;
  color: #22262e;
  padding: 10px 20px;
  border-bottom: 3px solid #222;
}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
label, input, option, select {
  transition: all 0.2s;
  touch-action: manipulation;
}
input, option, select {
  height: 40px;
}
option, select {
  padding: 15px;
}
input, select, textarea {
  font-size:18px;
  padding:5px 10px 10px 5px;
  margin: 0 auto;
  display:block;
  width:90%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus, textarea:focus, select:focus {
  outline:none;
  border-bottom: 4px solid #5264AE;
}
textarea {
  overflow: hidden;
  height: auto;
}
label, .button, button {
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 11px;
  padding-left: 14px ;
}
input, option, select, textarea {
  width: 100%;
  min-height: 20px;
  font-size: 1em;
  border: 0;
  border-left:13px solid rgba(19, 17, 17, 0.356);
  border-radius: 0;
  padding: 0;
  z-index: 8;
  background: none;
}

input:focus {
  outline: 0;
  border: 0;
  border-bottom: 3px solid #666;
}
input:focus::placeholder{
  opacity: 1;
}
input:focus::-webkit-input-placeholder{
  opacity: 1;
}
input:focus::-moz-placeholder{
  opacity: 1;
}
input:focus:-ms-input-placeholder{
  opacity: 1;
}
input:focus:-moz-placeholder{
  opacity: 1;
}
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  padding-left: 0px;
  font-weight: bold;
  font-size: 15px;
  padding-left: -10px;
}
.button, button{
  font-weight:900;
  margin: 0;
  border: none;
  border-radius: 38px;
  cursor: pointer;
  background: #17112348;
  padding: 10px;
  color: #fff;
  background: rgb(67, 201, 96);
}
.button-bigger {
  padding: 20px;
}
button:hover, .inactive {
  background-color: rgba(67, 201, 96, 0.418);
}

input[type='checkbox'], input[type='checkbox'] +  label {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: auto;
  float: left;
}
textarea {
  min-height: 100px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.center {
  width: 90%;
  margin: 0 auto;
}
.absolute.center {
  position: absolute;
  top: 45%;
  left:35%
}
.centered-text {
  text-align: center !important;
}
.left-text {
  text-align: left !important;
}
.right-text {
  text-align: right !important;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear-space {
  height: 20px;
  padding: 20px;
}
.title {
  margin-bottom: 0px;
}

.pale-blue {
  background: var(--background);
}
.pale-blue-text {
  color: var(--background);
}

.blue-gray {
  background: #263238 ;
}
.blue-gray-text {
  color: #263238;
}
.red {
  background: #fd385f;
}
.red-text {
  color: #fd385f;
}
.blue {
  background: rgb(75, 121, 247);
}
.blue-text {
  color: rgb(75, 121, 247);
}

img.profile-pix {
  max-width: 200px;
  max-height: 200px;
  border: #263238;
  border-radius: 50%;
  cursor: pointer;
}
.profile {
  display: flex;  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.profile-card {
  margin: 5px;
  width: 230px;
  height: 300px;
  background: rgb(105, 101, 101);
  position: relative;
}
.profile-card img {
  width: 100%;
  height: 300px;
  filter: contrast(1.1) brightness(1.1);
  opacity: 0.7;
}
.profile-card .party {
  background: #eee;
  margin: 5px;
  padding: 10px;
  width: 30px;
  height:30px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}
.profile-card .votes, .profile-card .info {
  height: 100px;
  width: 100%;
  background: rgba(255, 255, 255, 0.829);
  position: absolute;
  top: 200px;
  text-align: center;
}
.profile-card .votes {
  top: 175px;
  height: 25px;
  background: rgba(67, 201, 96, 0.651);
}
.profile-card .info h1 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #777;
  width: 80%;
  margin: 10px auto 0;
}
.profile-card .info h5 {
  margin: 0;
}
.profile-card .info p {
  margin-top: 4px;
  margin-bottom: 0px;
}
.profile-card button.vote-user {
  position: absolute;
  top: 53%;
  left: 0;
  background: #06c957da;
  border-radius: 6px;
  border: 2px solid #727272;
}
.profile-card button.vote-user:hover,
.profile-card:hover button.vote-user {
  background: rgba(138, 136, 136, 0.507);
}
.profile-card button.vote-user:hover {
  box-shadow: 0 0 33px #999;
}
.hover-blur:hover img:not(.party){
  filter: blur(2px);
}

.padding-10 {
  padding: 10px;
}

.block {
  display: block !important;
  padding: 5px;
}
.hide {
  display: none;
}
.no-shadow {
  box-shadow: none;
}
.no-border {
  border: none !important;
}
.circle {
  border-radius: 50%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.694);
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.modal-content {
  cursor: auto;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 14px #555;
  width: auto;
  min-width: 300px;
}

.modal-content span.close {
  color: #aaa;
  float: right;
  font-weight: bold;
}
.modal span.close{
  font-size: 28px;
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.show {
  opacity: 1;
  visibility: visible;
  display: block;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/** table **/
table {
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  padding:5px;
  height: 180px;
  max-width: 98%;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
tr {
  width: 100%;
  border:none;
  border-bottom:1px solid #98ac9c;
  text-align:left;
  vertical-align:middle;
}
th {
  text-transform: uppercase;
}
td, th {
  padding: 10px 5px;
  text-align: center;
}
tr:nth-child(odd) {
  background:rgba(78, 80, 102, 0.082);
}
tr:first-child {
  background: rgba(0, 0, 0, 0.199);
}
tr:last-child {
  border:none;
}
td img {
  width: 50px;
  height: 50px;
}

td{
  background:#FFFFFF;
  vertical-align:middle;
  font-weight:300;
  border-right: 1px solid #C1C3D1;
}
td:last-child {
  border-right: none;
}

tr:hover td {
  background:rgba(226, 226, 231, 0.384);
  border-top: 1px solid #22262e;
}
a.button {
  border: 2px solid rgb(48, 163, 73);
  background: #fff;
  color: rgb(48, 163, 73);
}

.responsive {
  overflow-x:auto;
}
.no-bg {
  background: none;
}

a[href="https://twitter.com/emmsdan"] {
  font-weight: 900;
  text-transform: uppercase;
}
.w100 {
  width: 100%;
}
.mobile-size {
  width: 300px;
}